//npm.pkg.github.com/GameChangerInteractive/:_authToken=${XC_NPM_TOKEN}
//npm.pkg.github.com/:_authToken=${XC_NPM_TOKEN}
@gamechangerinteractive:registry=https://npm.pkg.github.com/GameChangerInteractive
always-auth=true
